[user]
  name = Remo Wenger
  email = privat@remowenger.ch
  #signingkey = 1DCCAF2D53913C7063DF7904CC629882AADF2BB1
  signingkey = CC629882AADF2BB1
[core]
  editor = vi
  excludesfile = ~/.gitignore
[web]
  browser = google-chrome
[diff]
  tool = kdiff3
[difftool]
  prompt = false
[merge]
  tool = kdiff3
[commit]
  gpgsign = true
[log]
  showSignature = true
[color]
  ui = true
[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
[http "https://bitbucket.falconpb.net/"]
	sslVerify = false
